@if $kanban_box_style == 'style_3' {
    .o_action_manager{
        .o_kanban_view{
            .o_content{
                .o_kanban_renderer{
                    .o_kanban_record{
                        .oe_kanban_global_click{
                            border-radius: 0rem !important;
                            .o_kanban_content{
                                .text-bg-primary{
                                    border-radius: 0px 0rem 0rem 0px;
                                }
                            }
                            
                            
                        }                        
                    }
                }
            }
        }
    }
    .o_kanban_record{
        > div:not(.o_dropdown_kanban){
            border-radius: 0px 0rem 0rem 0px;
        }
    }
    .o_image_64_cover{
        border-radius: 0%;
    }
    .oe_kanban_details {
        .o_kanban_record_bottom{
            .py-1{
                border-radius: 0px 0rem 0rem 0px;
            }
        }
    }
    .o_image_64_contain{
        border-radius: 0px 0rem 0rem 0px;
    }
    .marketing-template{
        border-radius: 0px 0rem 0rem 0px;
        .card-body{
            border-radius: 0px 0rem 0rem 0px;
        }
    }
    .o_hr_payroll_dashboard_block{
        border-radius: 0px 0rem 0rem 0px;
    }

}